/* !CSS Notes */

/* *Two Ways to write css
1. adding style tag in HTML
2. Inline CSS 
3. Exteternal CSS */

/* ?Targeting we us # for id , . for class, * for universal */

*{
    /*  This codereset whole browser css margin and padding */
    margin: 0%;
    padding: 0%;
}


/* !Colours & Background */
/* ? There are colour catogery RGB/HEX/HSL(Hue Saturation Lightness) */

/* !Background as an image */
body{
    background-image: url(xyz.png);
    /* ?If you dont want a property to repete there are option of no-repete/x-repete/y-repete/space/round  */

    /* *Background sizing property
    1.cover :fits an no empty spavce remain
    2. contain : fits and img is full inside
    3. */
}
/* ?Background attachment  fixed/scroll */

/* !CSS BOX MODEL : CSS treat every element as a box */
/* ? 1. Margin : Dis between elements
     2. Border: border of element
     3. Padding : dist between brder and content
     4. content : main content */
/* ! CSS TOP/ Bottom/Left/Right */



/* !CSS Flex Box : It help to align and distribute space between the container */

body{
    display: flex;
    /*? flex-direction: column;  put in coloum */
    /*? flex-direction: row;   put in row */
    /*? flex-wrap: wrap; whenever you change page size content move */
    /*? justify-content: center; all content to the centre */
    
    /* !CSS Grid */
    display: grid;
    grid-row: ;
    grid-column: ;
    grid-gap: ;
    grid-column-gap: ;
    
    

}

